i.fa-icon {
    width: 100px;
    height: 100px;
    display: block;
  }
  
  i.icon-dollar {
    background: url('../images/icon-dollar.svg') no-repeat center;
  }
  
  i.icon-clock {
    background: url('../images/icon-clock.svg') no-repeat center;
  }
  
  i.icon-heart {
    background: url('../images/icon-heart.svg') no-repeat center;
  }
  
  i.icon-glasses {
    background: url('../images/icon-glasses.svg') no-repeat center;
  }
  
  i.icon-diamond {
    background: url('../images/icon-diamond.svg') no-repeat center;
  }
  
  i.icon-sun {
    background: url('../images/icon-sun.svg') no-repeat center;
  }
  
  i.icon-thunder {
    background: url('../images/icon-thunder.svg') no-repeat center;
  }
  
  i.icon-diamond-white {
    background: url('../images/icon-diamond-white.svg') no-repeat center;
  }
  
  i.icon-sun-white {
    background: url('../images/icon-sun-white.svg') no-repeat center;
  }
  
  i.icon-thunder-white {
    background: url('../images/icon-thunder-white.svg') no-repeat center;
  }
  
  i.icon-arrow-right {
    background: url('../images/icon-arrow.svg') no-repeat center;
  }
  
  i.icon-fb {
    background: url('../images/icon-fb.svg') no-repeat center;
  }
  
  i.icon-ig {
    background: url('../images/icon-ig.svg') no-repeat center;
  }
  
  i.icon-line {
    background: url('../images/icon-line.svg') no-repeat center;
  }
  
  i.icon-phone {
    background: url('../images/icon-phone.svg') no-repeat center;
  }
  
  i.icon-mail {
    background: url('../images/icon-mail.svg') no-repeat center;
  }
